.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App{
  font-family: "Courier New";}




  .ui.menu > .item > .link {
    color: gray;
    font-family: "Courier New";
  }

.button.ui.button {
  background: #fde9e0;
  color: black 
  ;
  font-family: "Courier New";
  font-weight:normal

}