
.App{
  background:  #fdfcf9  ;
  font-family: "futura-pt", sans-serif;
    font-weight: 400;
  line-height: 1.5em;
  color: #111111;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ui.menu > .item:not(.active) {
  color: pink;
}

.link-styles h3, .ui.icon{
  color:  #26453e;
}

.link-styles .ui.menu > .item.icon{
  color:  #26453e;
}

.toggleLogin  {
  text-align: center !important;
}

.editProduct h2, .ui.form > .button {
  text-align: center !important;
  font-weight: normal !important;
}

.ui.form > .input > label{
  font-weight: normal !important;
}

.cartContainer h2, h3, h4{
  text-align: center !important;
}

.profile h2 {
  text-align: center;
}

.profileProducts h3 {
  text-align: left  !important;;
}

.product h3 {
  text-align: left  !important;;
}

.checkoutContainer h3{
  text-align: left !important;
}

.shipping h2{
  text-align: center;
  margin-top:1.5%;
}
.productContainer h1{
  margin-left: 4%;
  margin-top: 2%;
}


h1, h2, h3, h2, h4, h5 {
  font-weight: normal !important;
}

.header.ui.header {

font-weight: normal;
text-align: left
}


.ui.modal {
  box-shadow: none;
  font-family: "futura-pt", sans-serif;
  background-color: #fdfcf9;
  width: 450px !important;

}

.ui.menu.item > header {
  box-shadow: none;
  font-family: "futura-pt", sans-serif;
  color: pink !important;
}

.ui.modal > .content{
    box-shadow: none;
    font-family: "futura-pt", sans-serif;
    background-color: #fdfcf9 !important;
  }

  .ui.modal > .content.form >.button{
    box-shadow: none;
    font-family: "futura-pt", sans-serif;
    background-color: black !important;   }
  
  .ui.form.button {
    box-shadow: none;
    font-family: "futura-pt", sans-serif;
    text-align: center !important;  
    background-color: black !important; 
  }


.button.ui.button {
  background: #DBE6E0;
 color: #404040;
font-weight: 400;
font-family: "futura-pt", sans-serif;
line-height: 1.5em;
z-index: 1;
size: "medium"
 
}

body .ui.cards>.card{
  box-shadow: none;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
}
.ui.cards >.card > .header{
  text-align: left
}


body .ui.menu>.menuitem{
  box-shadow: none;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-weight: "normal"
}


body .ui.cards>.card >.header{
font-weight: "normal"
}

