.App{
  background:  #fdfcf9  ;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  color: #111111;
  margin: 0;
  padding: 0;
  width: 100%;
}

.link-styles h3, .ui.icon{
  color:  #26453e;
}

.toggleLogin  {
  text-align: center;
}

h1, h2, h3, h2, h4, h5 {
  font-weight: normal !important;
}

.ui.modal {
  box-shadow: none;
  width: 460px !important;
  background-color: #fdfcf9 !important;
}

.ui.modal > .content{
    box-shadow: none;
    font-family: "futura-pt", sans-serif;
    background-color: #fdfcf9 !important;
}

.button.ui.button {
  background: #DBE6E0;
  color: #404040;
  font-weight: 400;
  font-family: "futura-pt", sans-serif;
  line-height: 1.5em;
  z-index: 1;
  size: "medium";
  margin: auto;
  text-align: center
}

body .ui.cards>.card{
  box-shadow: none;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
}

.about h3 { 
  text-align: right !important;
}

.productContainer h1{
  margin-left: 4%;
  margin-top: 2%;
}

.productContainer img {
  object-fit: cover;
  object-position: 0% 50%;
  width: 1263px;
  height: 270px;
}

.productContainer .ui.cards {
  background-color: #fdfcf9
}

.productCardTwo .button.ui.button{
  background-color: #FFFFFF !important;
  color: #000000 !important;
  width: 150px !important;
}

.productCard h3 {
  text-align: left  !important;
  box-shadow: none !important;
 margin-top:2%;
}

.cart .button.ui.button{
  background-color: #26453e;
  color:#FFFFF0;
  width: 350px;
  margin-top: 4%;
  text-align: center !important;
  margin-right: auto !important;
  margin-left: auto !important;

}

.cartContainer h2, h3, h4{
  text-align: center !important;
}

.checkoutButtons .button.ui.button{
margin-top: 2%;
margin-bottom: 2%;
width: 200px;
background-color: #26453e  !important;
color:#FFFFF0 !important;
line-height: 1.5em;
z-index: 1;
}

.shipping h1{
  text-align: center;
  margin-top:3%;
  margin-bottom:2%
}

.profile h2, h5 {
  text-align: center;
  text-align: center;
}

.profileNav h4{
  text-align: left !important;
  margin-left: 15%;
  margin-top:20% !important;
  margin-bottom: 20%;
  color: #26453e
}

.profileNav h1{
  text-align: center !important;
  margin-top:15% !important;
  color: #26453e
}

.formButtons .button.ui.button{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.profileProducts h3 {
  text-align: left  !important;;
}





.editProduct h2, .button.ui.button  {
  text-align: center !important;
  font-weight: normal !important;
  margin: auto;
}

.ui.form > .input > label{
  font-weight: normal !important;
}


.ui.form > button {
  margin: auto !important;

}









  .ui.modal > .content.form >.button{
    box-shadow: none;
    font-family: "futura-pt", sans-serif;
    background-color: black !important;   }
  
  .ui.form > .button {
    box-shadow: none;
    font-family: "futura-pt", sans-serif;
    text-align: center !important;  
  }






